mixin video(info)
  div
    a(href=`/videos/${info.id}`).video-mixin
      .video-mixin__thumb
      .video-mixin__data
        span.video-mixin__title=info.title
        .video-mixin__meta
          span #{info.owner.name} •
          span #{info.meta.views} 회
    //- p=info.description
    //- ul
    //-   each hashtag in info.hashtags
    //-     li=hashtag
    //- small=info.createdAt
    //- hr